<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207978312436-qp2i5kqbjoajivssvck057bugdup2phv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207978312436-qp2i5kqbjoajivssvck057bugdup2phv</string>
	<key>API_KEY</key>
	<string>AIzaSyCx5U2QumRhu4RJ0iyvTbU1VX4YYnFG3Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>207978312436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattyBox.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatty-box-c5acc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-box-c5acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207978312436:ios:12cac97b68ef04c658e4a1</string>
</dict>
</plist>